* {
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0px;
	color: #fff;
	overflow-x: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header, footer, main {
	padding: 0px;
	text-align: center;
}
header, footer {
	flex: 0 0 100%;
}
header > h2 > a {
	color: #dfd;
	letter-spacing: 0px;
	transition: letter-spacing 150ms;
}
header > h2 > a:hover {
	color: #fff;
	letter-spacing: 5px;
}
main {
	flex: 1 0 100%;
	background-color: #00201a;
}

nav ul {
	padding: 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
nav ul > li {
	list-style: none;
	margin: 2px 0px;
	padding: 0px;
	display: inline-block;
	position: relative;
}
nav ul > li > a {
	display: inline-block;
	position: relative;
	padding: 10px 20px;
	background-color: #021;
	transition: background-color 150ms;
}
nav > ul > li > ul > li {
	display: none;
}
nav > ul > li > ul {
	position: absolute;
	left: 0px;
	display: flex;
	gap: 0px;
	align-items: flex-start;
	flex-direction: column;
	z-index: 5;
}
nav > ul > li:hover > ul > li {
	display: block;
	width: 100%;
	margin: 0px;
}
nav > ul > li:hover > ul > li > a {
	width: 100%;
	border: 1px solid #000;
}
nav ul > li:hover > a {
	background-color: #043;
}
nav ul > li > a > .material-symbols-outlined {
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0px;
	padding: 0px;
	line-height: 10px;
	font-size: 14px;
}

#totalCenter {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
	pointer-events: none;
	transition: backdrop-filter 300ms, -webkit-background-filter 300ms, opacity 300ms;
	opacity: 0;
}
#totalCenter.enabled {
	backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
	opacity: 1;
}
#totalCenter > div {
	background-color: #021;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #064;
	position: fixed;
	top: -100vh;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: top 300ms;
}
#totalCenter.enabled {
	pointer-events: all;
}
#totalCenter.enabled > div.enabled {
	top: 50%!important;
}
#user {
	position: absolute;
	top: 10px;
	right: 10px;
}

.loginForm form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.loginForm h3 {
	margin: 0px 0px 10px;
	letter-spacing: 2px;
}
.loginForm p {
	margin: 2px 0px
}
.loginForm form > input {
	margin: 10px 0px;
	padding: 10px;
}
.loginForm form > input[type=email] {
	background-color: #400;
}
.loginForm form > input[type=password] {
	background-color: #400;
}
.loginForm#form_reg > p {
	font-style: italic;
}

a {
	color: #0ac;
	text-decoration: none;
	transition: color 150ms;
}
a:hover {
	color: #acf;
}
header, footer {
	background-color: #032;
}
header h2 {
	font-size: 48pt;
	margin: 20px 0px 0px;
}
header h2 .material-symbols-outlined {
	font-size: 48pt;
}

main {
	position: relative;
	display: flex;
	flex-flow: row wrap;
}
main > section {
	text-align: left;
	flex: 1 1 100px;
}
main > section:first-of-type {
	padding: 20px;
	display: flex;
	flex-direction: column;
}
main > section:first-of-type > div:not(:last-of-type) {
	flex: 1 1 100px;
}
main > section:first-of-type > div:last-of-type {
	flex: 0 1 0px;
}
main > section:first-of-type h1 {
	margin-top: 0px;
}
main > section:first-of-type > #trainWindow, main > section:first-of-type > #doneWindow {
	display: none;
}

#msg {
	position: fixed;
	top: 0px;
	width: 100%;
	padding: 10px;
	text-align: center;
	opacity: 1;
	z-index: 20;
	transition: top 200ms, opacity 200ms;
}
#msg:empty {
	top: -20px;
	opacity: 0;
}
#msg.ok {
	background-color: #060;
}
#msg.warning {
	background-color: #600;
}

#progress:empty {
	height: 0px;
}
#progress {
	background-color: #00201a;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	height: 20px;
	padding: 0px 2%;
	gap: 1%;
	transition: height 1s;
}
#progress #line {
	content: "";
	position: absolute;
	top: 50%;
	left: 2%;
	right: 2%;
	width: 0%;
	height: 1px;
	background: #060;
	transform: translateY(-50%);
	z-index: 0;
	transition: width 500ms;
}
#progress .milestone {
	position: relative;
	height: 6px;
	flex: 0 1 4%;
	margin: 0px 20px;
	min-width: 4px;
	background-color: #888;
	border-radius: 10px;
	z-index: 1;
	transition: background-color 500ms;
}
#progress .milestone:not(:first-of-type) {
	margin: 0px;
}
#progress .milestone.done {
	background-color: #060;
}
#progress .milestone.current {
	background-color: #0aa;
}
@media (max-width: 767px) {
	#progress .infostage::after {
		content: "i";
		display: inline-block;
		color: #fff;
		position: absolute;
		left: 50%;
		top: -10px;
		font-size: 50%;
		z-index: 300;
		transform: translate(-50%, 0);
	}
}
@media (min-width: 768px) {
	#progress .infostage::after {
		content: "info";
		display: inline-block;
		color: #fff;
		position: absolute;
		left: 50%;
		top: -10px;
		font-size: 50%;
		z-index: 300;
		transform: translate(-50%, 0);
	}
}
#progress .milestone.done::before {
	display: block;
	content: "";
	background: radial-gradient(circle, #050 10%, rgba(0, 255, 0, 0) 100%);
	width: 50px;
	height: 50px;
	border-radius: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, -50%) scale(1);
	animation: explosion 1s ease-in-out forwards;
}
#progress .milestone.current::before {
	display: block;
	content: "";
	background: radial-gradient(circle, #0ff 10%, rgba(0, 255, 0, 0) 100%);
	width: 50px;
	height: 50px;
	border-radius: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, -50%) scale(1);
	animation: explosion 1s ease-in-out forwards;
}
@keyframes explosion {
	0% {
		transform: translate(-50%, -50%) scale(0);
		opacity: 0;
	}
	50% {
		transform: translate(-50%, -50%) scale(1, 0.5);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) scale(0);
		opacity: 0;
	}
}

#userMedals {
	margin-top: 5px;
	max-height: 40vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 10px;
}
#userMedals > .medalContainer {
	position: relative;
	flex: 0 1 auto;
	background: linear-gradient(
		135deg,
		#fc0 20%,
		#ca0 30%,
		#b80 40%
	);
	background-size: 200% 200%;
	border: 1px solid #ba0;
	padding: 10px;
	border-radius: 100%;
	cursor: pointer;
	/* animation: shine 2s ease-in-out infinite; */
}
#userMedals > .medalContainer > div {
	background-color: #064;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0.9;
	border: 1px solid #fe0;
	pointer-events: none;
	transform: translate(-50%, -50%) scale(0, 0);
	z-index: 100;
	transition: transform 150ms;
	animation: shine 600ms ease-in-out infinite;
}
#userMedals > .medalContainer > div > h4 > .material-symbols-outlined {
	margin-right: 5px;
}
#userMedals > .medalContainer::before {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	content: "";
	background: linear-gradient(
		45deg,
		rgba(0, 0, 0, 0) 0%,
		#fff 20%,
		rgba(0, 0, 0, 0) 35%
	);
	transform: rotate(90deg);
	border-radius: 100%;
	width: 100%;
	height: 100%;
	z-index: 2;
	animation: goldshine 2s linear infinite;
}
@media (max-width: 767px) {
	#userMedals > .medalContainer > div {
		min-width: 50vw;
	}
}
@media (min-width: 768px) {
	#userMedals > .medalContainer > div {
		min-width: 10vw;
	}
}
#userMedals > .medalContainer:hover div {
	transform: translate(-50%, -50%) scale(1, 1);

}
#userMedals > .medalContainer h4,#userMedals > .medalContainer p {
	margin: 0px;
}
#userMedals > .medalContainer > .material-symbols-outlined {
	margin: 0px;
	color: #860;
}
@keyframes shine {
	0% {
		box-shadow: 0px 0px 2px #fd0;
	}
	50% {
		box-shadow: 0px 0px 10px #fd0;
	}
	100% {
		box-shadow: 0px 0px 2px #fd0;
	}
}
@keyframes goldshine {
	0%		{	opacity: 0;	transform: rotate(45deg); }
	50%		{	opacity: 1;	transform: rotate(90deg); }
	100%	{	opacity: 0;	transform: rotate(135deg); }
}
#medalNotice {
	position: fixed;
	bottom: -100vh;
	right: -100vw;
	background-color: #064;
	padding: 10px;
	border: 1px solid #fd0;
	border-radius: 10px;
	animation: shine 500ms ease-in-out infinite;
	z-index: 100;
	transform: scale(0.2, 0.2);
	transition: bottom 500ms, right 500ms, transform 500ms;
}
#medalNotice.open {
	right: 20px;
	bottom: 20px;
	transform: scale(1, 1);
}
#medalNotice h3, #medalNotice p {
	margin: 0px;
}
#medalNotice h3 {
	display: inline-block;
}

button {
	background-color: #064;
	color: #fff;
	margin: 2px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 150ms;
}
button:disabled {
	background-color: #444;
}
button:not(:disabled):hover {
	background-color: #085;
}

input-check {
	user-select: none;
	display: inline-block;
	margin: 2px 5px;
	padding: 10px;
	background-color: #300;
	border: 1px solid #800;
	color: #fdd;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 150ms, border-color 150ms, color 150ms;
}
input-check:hover {
	background-color: #430;
	border-color: #860;
	color: #fec;
}
input-check[checked] {
	background-color: #030;
	border: 1px solid #080;
	color: #dfd;
}
input-check[checked]:hover {
	background-color: #340;
	border-color: #680;
	color: #efc;
}
input[type=text],input[type=email],input[type=password] {
	background-color: #030;
	border: 1px solid #080;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
}

iframe {
	background-color: #fff;
	width: 100%;
	height: 100%;
	border: 0px;
	transition: filter 100ms;
}
iframe.fade {
	filter: brightness(0);
}
#question {
	margin-bottom: 5px;
}
#question b {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
#codewindow * {
	font-family: 'Courier New', Courier, monospace;
}
#codewindow {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}
#codewindow > #codeLinenumbers {
	position: absolute;
	display: inline-block;
	left: 5px;
	top: 11px;
	bottom: 11px;
	text-align: right;
	color: #888;
	z-index: 2;
	overflow: hidden;
}
#codewindow > #codeLinenumbers > span {
	display: block;
	transition: color 500ms, font-weight 500ms;
}
#codewindow > #codeLinenumbers > span.error {
	position: relative;
	color: #f00;
	font-weight: bold;
}
#codewindow > #codeLinenumbers > span.error:before {
	content: ">";
	left: 0px;
	position: absolute;
}
code {
	position: relative;
	background-color: #011;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 10px 10px 10px 40px;
	display: block;
	user-select: none;
	white-space: pre;
	transition: background-color 300ms;
}
code:has(span:focus), code:hover {
	background-color: #022;
}
code > span[contenteditable] {
	display: inline-block;
	color: #aaf;
	min-width: 10px;
	border-bottom: 1px solid #557;
}
code > span[contenteditable]:empty:not(:focus) {
	outline: 2px solid #aaf;
}

button {
	padding: 5px;
}
.material-symbols-outlined {
	vertical-align: middle;
}

.table2r {
	display: grid;
	grid-template-columns: auto auto;
	gap: 5px;
}

#truthtable {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 10px;
	padding: 10px;
}
#truthtable > div {
	flex: 1 0 auto;
	display: flex;
	border-radius: 5px;
	color: #fff;
}
#truthtable > div > span {
	padding: 5px;
	border-radius: 5px;
	flex: 1;
	white-space: nowrap;
	text-align: center;
}
#truthtable > div > span:nth-of-type(4) {
	flex: 0 1 10px;
	background-color: #000;
}

#truthtable.filter_plus > div:not(.f_plus) { display: none; }
#truthtable.filter_minus > div:not(.f_minus) { display: none; }
#truthtable.filter_multi > div:not(.f_multi) { display: none; }
#truthtable.filter_div > div:not(.f_div) { display: none; }
#truthtable.filter_eq > div:not(.f_eq) { display: none; }
#truthtable.filter_eqt > div:not(.f_eqt) { display: none; }
#truthtable.filter_neq > div:not(.f_neq) { display: none; }
#truthtable.filter_neqt > div:not(.f_neqt) { display: none; }
#truthtable.filter_and > div:not(.f_and) { display: none; }
#truthtable.filter_or > div:not(.f_or) { display: none; }
#truthtable.filter_string > div:not(.f_string) { display: none; }
#truthtable.filter_number > div:not(.f_number) { display: none; }
#truthtable.filter_boolean > div:not(.f_boolean) { display: none; }
#truthtable.filter_object > div:not(.f_object) { display: none; }
#truthtable.filter_undefined > div:not(.f_undefined) { display: none; }